<ion-view view-title="La Casa Cubana">
	<ion-content class="no-header" scroll="false">
	<br/>
	<ion-slide-box 
		show-pager="false"
		does-continue="true" 
		on-slide-changed="slideHasChanged($index)"
		ng-if="products.length">

          <ion-slide ng-repeat="prod in slides">
            
            <div class="list">

				<div ng-repeat="product in prod">

					<div class="item item-divider item-subcategory" ng-if="checkSubCat(product.subcat1);">
						<h1>{{product.subcat1}}</h1>
					</div>

					<div class="item item-subcategory sub-detail-image" 
						ng-if="types[category] !== undefined">
						<img class="full-image" ng-cache ng-src="{{product.photo}}" data-offline>
					</div>

					<!-- item-thumbnail-left -->
				    <div class="item item-text-wrap item-subcategory item-icon-right" 
				    	href="#">
				      
				      <!--<img ng-src="{{product.photo}}">-->
				      <h2><strong>{{product.title}}</strong></h2>
				      <h3><strong>{{product.year !== "" && product.year !== undefined ? "Year: " + product.year:""}}</strong></h3>
				      <h3><strong>{{ product.volume !== "" && product.volume !== undefined ? "Volume: " + product.volume:"" }}</strong></h3>

					  <i class="icon item-price">
					  	<h2><strong>{{product.price}}</strong></h2>
					  </i>
				    </div>

				</div>

			</div>
			<br/>
          </ion-slide>
          
    </ion-slide-box>

  	</ion-content>
</ion-view>