<ion-view view-title="La Casa Cubana" hide-back-button="true">

	<ion-content class="no-header">

		<div class="list pad-list">

		    <a class="item item-thumbnail-left item-category" 
		    	href="#/app/details/{{category.title}}"
		    	collection-repeat="category in categories | orderBy:'title'">
		      
		      <img ng-cache ng-src="http://googledrive.com/host/0B4eZhD1V1_ZAa1RvbGlhYzNYaFk/{{category.title}}.jpg">
		      <h2><strong>{{category.title}}</strong></h2>
		    </a>

		</div>

  	</ion-content>
</ion-view>
